<!DOCTYPE html>
<html>
  <head>
    <%- include ("../fixed/head") %>

  </head>
  <body>
    <div class="container">
      <h1 class="quizHeader center"> <span class="continent"><%= continent.toUpperCase();%> </span> POLITICAL GEOQUIZ </h1>
      <%- include ("../fixed/quiz") %>

    </div>

    <script type ="text/javascript" src="/functions.js" >  </script>
  </body>
</html>
