<!DOCTYPE html>
<html>
  <head>
    <meta name="viewpoint" content="width=device-width, initial-scale= 1">
    <title>Add User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
    <%- include ("../fixed/nav") %>

  <div class="container">
    <div class="row justify-content-center mt-2" style="white-space: pre-wrap;">
        This page is to add a user to access database for editing.
    </div>
    <div class="row justify-content-center">
      <div class="col-xs-3">
        <div class="input-group" >
          <div class="input-group-prepend">
             <select class="form-control" name="fieldToAdd" id="option">
                <option value="add">Add a new user</option>
                <option value="remove">Remove a user</option>
                <option value ="listUsers"> List Users</option>
             </select>
           </div>
         <div class="input-group-append">
           <button  onclick ="selectOption()" type="submit" class="btn btn-info">Submit </button>
         </div>
       </div>
     </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-lg-6 col-m-5 col-s-8">
                <div class="mt-3" id="listUsers" style="display: none;" align="center"></div>
                <form id="addUser" class="form-group" style="display: none;" method="POST" action="/createUser">
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Id: </span>
                        </div>
                         <input type="text" name ="userId" class="form-control"/>
                    </div>
                     <div class="input-group mt-3">
                       <div class="input-group-prepend">
                           <span class="input-group-text">Full Name: </span>
                       </div>
                        <input type="text" name ="userName" class="form-control"/>
                    </div>
                    <div class="input-group mt-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Password: </span>
                      </div>
                        <input type="password" name="password" class="form-control"/>
                     </div>
                    <div class="mt-3 text-right">
                        <input type="submit" class="btn btn-info"/>
                   </div>
                 </form>

                 <form id="removeUser" class="form-group mt-3" style="display: none;" method="POST" action="/removeUser" autocomplete="off">
                   <div class="input-group">
                     <div class="input-group-prepend">
                         <span class="input-group-text">User Id to Remove: </span>
                     </div>
                     <input class="form-control" name="userId" type="text" required>
                     <div class="input-group-append">
                       <input class="btn btn-info" type="submit" value="Remove">
                     </div>
                   </div>
                 </form>

      </div>
    </div>
    <% var message;%>
    <% if (message!= undefined){ %>
      <div class="row justify-content-center mt-3" id="message">
            <%= message %>
        </div>
    <%} %>
    <% var logs; %>
    <% if (logs != undefined){ %>
      <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
          <h5 align="center">User Logs :Logs are removed every first day of the month</h5>
          <p align="center">
              <% logs = logs.split("\n") %>
              <% for(var i = 0; i < logs.length; i++){ %>
                  <%- logs[i] %>
                  <br>
              <%} %>
          </p>
        </div>
      </div>
    <% }%>

  </div>
  <script type="text/javascript">
  $('li a').removeClass('active');
  $('a[href="/manageUser"]').addClass('active')
  // $('#listUsers').hide();
  function selectOption(){
    $('#listUsers').hide();
    var option = $("#option :selected").val();
    if (option == "add"){
      $('#addUser').show();
      $('#removeUser').hide();
      $('#message').text("")
    }
    else if (option =="remove"){
      $('#removeUser').show();
      $("#addUser").hide();
      $('#message').text("")
    }
    else{
      //ajax call
      $('#removeUser').hide();
      $("#addUser").hide();
      $('#message').text("")
        $.ajax({
          url: '/listUsers',
          type: 'GET',
          success: function(data){
            $('#listUsers').show();
            var text ="";
            for (var i = 0; i <data.length; i++){
              text +=  "Id: " +data[i].id +" Name: "+ data[i].name +"<br>";
            }
            $("#listUsers").html(text);
          }
        })
    }
  };


  </script>
</body>
</html>
